@model IEnumerable<OBMCShopApp.ViewModels.ProductIndexViewModel>
@using Microsoft.AspNetCore.Identity
@using OBMCShopApp.Components
@using OBMCShopApp.ViewModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

@if (UserManager.Users.Any(u => !u.UserName.Equals("admin@obmc.com") || u.UserName.Equals("owner@obmc.com")))
{
    <h1 class="h1 text-danger">You are not allowed to view this page!!</h1>
}
else
{
    
    <h1>Index</h1>

    <p>
        <a asp-controller="Products" asp-action="Create" class="btn btn-outline-info">Create New</a>
    </p>

    @(await Html.RenderComponentAsync<ProductIndexList>(RenderMode.Server, new { Products = @Model}))

    @*<component type="typeof(ProductIndexList)" render-mode="Server"></component>*@
}