@page
@model LoginModel

@{
    ViewData["Title"] = "Welcome, Please Login!";
    Layout = "_LoginLayout";
}

<h1 class="h1 text-center mt-md-5 mt-sm-5 mt-5">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-2"></div>
    <div class="card shadow col-md-8 col-sm-10">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary border-dark">Log in</button>
                </div>
                <div class="form-group">
                    <a asp-page="Register">Register</a>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-2"></div>
</div>

@section LoginScripts {
    <partial name="_ValidationScriptsPartial" />
}
