@model IEnumerable<OBMCShopApp.ViewModels.SalesIndexViewModel>

@{
    Layout = "_Layout";
}

<h2 class="h2 text-center"> Sales Summary</h2>

<p>
        <a asp-controller="Sales" asp-action="Create" class="btn btn-outline-info">Make A Sale</a>
    </p>

    <ejs-grid id="Grid" dataSource="Model" allowPaging="true" allowSorting="true">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-columns field="ProductID" headerText="Product ID"></e-grid-columns>
            <e-grid-columns field="Name" headerText="Product Name"></e-grid-columns>
            <e-grid-columns field="RetailPrice" headerText="Selling Price" format="C2"></e-grid-columns>
            <e-grid-columns field="CostPrice" headerText="Cost Price" format="C2"></e-grid-columns>
            <e-grid-columns field="SupplyDate" headerText="Supply Date" width="100" customFormat="@(new { type ="date", format="dd/MM/yyyy" })">
            </e-grid-columns>
        </e-grid-columns>
    </ejs-grid>
